<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Iste atque ea quis molestias. Fugiat pariatur maxime quis
            culpa corporis vitae repudiandae aliquam voluptatem veniam,
            est atque cumque eum delectus sint!
          </p>
        </div>
      </div>
      <div class="text-center mb-2">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="text-center p-3 bg-dark">
      Isabel &copy; 2025
    </div>
  </div>
</footer>